{
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-es2015-function-name",
    ["transform-async-to-module-method", {
      "module": "bluebird",
      "method": "coroutine"
    }],
    "transform-object-rest-spread",
    "transform-es2015-destructuring"
  ],
  "sourceMaps": "inline",
  "ignore": [
    "./client/**",
    "./tests/**"
  ]
}
