{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": "airbnb-base",
  "settings": {
    // "import/resolver": "webpack"
  },
  "rules": {
    "no-param-reassign": 1,
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "never"
    }],
    "import/prefer-default-export": "warn",
    "no-return-await": "off",
    "operator-linebreak": ["error", "after"],
    "object-curly-newline": ["error", {
      "multiline": true,
      "minProperties": 5,
      "consistent": true
    }]
  }
}
