{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": [
    "babel"
  ],
  "extends": "airbnb-base",
  "settings": {
    // "import/resolver": "webpack"
  },
  "rules": {
    "babel/arrow-parens": 2,
    "no-param-reassign": 1
  }
}
