@import url("/plugins/nodebb-plugin-calendar/public/css/toolbar.css");
@import url("/plugins/nodebb-plugin-calendar/public/css/cal.css");
@import url("/plugins/nodebb-plugin-calendar/public/css/sidebar.css");
@import url("/plugins/nodebb-plugin-calendar/public/css/bootstrap-datetimepicker.min.css");

.tt-suggestion {
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  cursor: pointer;
}

.tt-suggestion.tt-cursor {
  background-color: #f5f5f5;
}

.modal-backdrop {
  z-index: 0;
}

#data_script {
  display:none;
}

body, html {
  height: 100%;
  overflow: hidden;
}

#content,
.nodebb-plugin-calendar {
  height:100%;
}

#content {
  width: initial;
}
