@import url("/plugins/nodebb-plugin-calendar/public/css/sidebar-nav.css");
@import url("/plugins/nodebb-plugin-calendar/public/css/sidebar-event.css");
@import url("/plugins/nodebb-plugin-calendar/public/css/sidebar-day.css");

#cal-sidebar {
  position: fixed;
  top: 85px;
  left: 0;
  right: 0;
  bottom: 0;
  transition: top .1s linear;
}
#cal-sidebar .toggle {
  background: dimgray;
  text-align: center;
  margin-top: -20px;
  color:white;
}
#cal-sidebar hr {
  float: left;
  width: 100%;
  margin: 10px 0;
}

#cal-sidebar .content {
  font-family: Arial, Sans-serif;
  width: 200%;
  overflow: hidden;
  box-sizing: content-box;
  position: absolute;
  top: 59px;
  left: 0;
  bottom: 0;
  right: 0;
}

#cal-sidebar > .content > div,
#cal-sidebar > .content > div > div {
  height: 100%;
  position: relative;
}

#cal-sidebar.down {
  top: 100%;
}

#cal-sidebar .toggle .fa-chevron-up {
  top: -2px;
  position: relative;
}

@media (min-width: 768px) {
  #cal-sidebar .toggle {
    display:none;
  }
  #cal-sidebar,
  #cal-sidebar.down {
    position: relative;
    height: 100%;
    overflow: hidden;
    top: 0;
  }
}

#cal-sidebar > .content > div:first-child {
  margin-left: -100%;
  transition: margin-left .25s ease;
}
#cal-sidebar > .content > div:first-child.active {
  margin-left: 0;
}

@media (min-width:1100px), (min-width: 650px) and (max-width: 767px){
  #cal-sidebar > .content {
    width: initial;
  }
  #cal-sidebar > .content > div:first-child {
    margin-left: 0;
  }
}
