#cal-sidebar .content > div > .event {
  overflow-x: hidden;
  position: relative;
  height: 100%;
}

#cal-sidebar .content > div > .event .topic-title {
  line-height: 1.5em;
  width: auto;
  overflow: hidden;
  margin: 0 0 -5px 0;
  padding: 0 0 5px 0;
  font-weight: 500;
  color: #2461b2;
  margin:10px;
}

#cal-sidebar .content > div > .event .post-content {
  margin: 10px;
  clear: left;
}

#cal-sidebar .content > div > .event .edit-event-button {
  float: right;
  line-height: 2.25em;
}

#cal-sidebar .content > div > .event .topic-text {
  font-size: 18px;
  color: #666;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
}

#cal-sidebar .content > div > .event .topic-profile-pic {
  margin: 15px;
}

#cal-sidebar .content > div > .event iframe.comments {
  border: none;
  padding: 0;
  width: 100%;
  /*min-height: 300px;*/
}

#cal-sidebar .content > div > .event .responses span {
  border-radius: 3px;
  padding: 2px 5px;
  margin-left: 3px;
  margin-right: 3px;
  float: right;
  font-size: 70%;
}
#cal-sidebar .content > div > .event .responses .my-response span.selected {
  border: 1px solid black;
  padding: 1px 4px;
}
#cal-sidebar .content > div > .event .responses span.invited {
  background-color: lightgrey;
}
#cal-sidebar .content > div > .event .responses span.not-attending {
  background-color: pink;
}
#cal-sidebar .content > div > .event .responses span.attending {
  background: lightgreen;
}
#cal-sidebar .content > div > .event .responses span.maybe {
  background: lightblue;
}
#cal-sidebar .content > div > .event .responses .my-response span {
  cursor: pointer;
}

#editEvent .modal-body .bootstrap-tagsinput {
  display: block;
}

#cal-sidebar .content > div > .event > div {
  opacity: 1;
  transition: opacity .25s ease;
}

#cal-sidebar .content > div > .event.trans > div {
  opacity: 0;
}
