@import (inline) '../node_modules/fullcalendar/dist/fullcalendar.css';

.composer .formatting-bar .formatting-group li[data-format="plugin-calendar-event"] {
  display: none;
}

.fc-event {
  cursor: pointer;
}

#plugin-calendar-cal-event-display .plugin-calendar-event {
  margin: -15px;
}

.plugin-calendar-cal-only-yes {
  .plugin-calendar-cal-event-response-no, .plugin-calendar-cal-event-response-maybe {
    display: none;
  }
}

.plugin-calendar-cal-event-topic-deleted {
  opacity: 0.5;
}
