.plugin-calendar-event i.fa {
  margin: 10px;
  margin-left: 0;
  vertical-align: top;
}
.plugin-calendar-event .plugin-calendar-event-date a,
.plugin-calendar-event .plugin-calendar-event-location span,
.plugin-calendar-event .plugin-calendar-event-description span,
.plugin-calendar-event .plugin-calendar-event-notifications ul {
  display: inline-block;
}
.plugin-calendar-event .plugin-calendar-event-date,
.plugin-calendar-event .plugin-calendar-event-description,
.plugin-calendar-event .plugin-calendar-event-location,
.plugin-calendar-event .plugin-calendar-event-notifications {
  clear: both;
  margin-bottom: 5px;
}
.plugin-calendar-event .plugin-calendar-event-notifications ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.plugin-calendar-event .plugin-calendar-event-notifications ul li {
  list-style-type: none!important;
  margin-left: 0;
}
