@import (inline) '../node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css';
@import (inline) '../node_modules/bootstrap-calendar/less/calendar.less';

.plugin-calendar-event {
  i.fa {
    margin: 10px;
    margin-left: 0;
    margin-top: 5px;
    vertical-align: top;
  }
  .form-group i.fa {
    vertical-align: middle;
  }
  .input-group-addon i.fa {
    margin: 0;
    vertical-align: middle;
  }
  .plugin-calendar-event-date a,
  .plugin-calendar-event-location span,
  .plugin-calendar-event-description span,
  .plugin-calendar-event-reminders > ul {
    display: inline-block;
  }
  .panel-body > div {
    clear: both;
    margin-bottom: 5px;
  }
  .plugin-calendar-event-reminders > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;

    li {
      list-style-type: none!important;
      margin-left: 0;
    }
  }

  .plugin-calendar-event-description,
  .plugin-calendar-event-responses,
  .plugin-calendar-event-reminders {
    position: relative;

    > i.fa {
      position: absolute;
    }
    > div, > ul {
      margin-left: 25px;
      display: inline-block;
    }
  }

  .plugin-calendar-event-responses {
    > div {
      min-width: 300px;
    }

    .plugin-calendar-event-responses-user {
      margin-bottom: 10px;
    }

    .plugin-calendar-event-responses-lists {
      .panel {
        .panel-heading .fa-chevron-down {
          margin: 0;
          margin-top: 3px;
          transition: transform .2s ease;
          transform: rotateX(180deg);
        }
        .panel-collapse {
          overflow: hidden;
          transition: height .2s ease;
        }
      }
      .panel.closed {
        .panel-heading .fa-chevron-down {
          transform: rotateX(0);
        }
        .panel-collapse {
          height: 0 !important;
        }
      }

      .panel-heading a {
        margin: -11px -16px;
        margin-bottom: -10px;
        display: block;
      }

      .panel .panel-body > ul {
        list-style-type: none;
        padding: 0;
        margin: 0 -5px;

        .user-icon {
          margin: 0;
        }

        > li {
          list-style-type: none;
          margin: 0 5px;
        }
      }
    }
  }
}

#plugin-calendar-event-editor {
  z-index: 10001;

  .plugin-calendar-event {
    margin: -15px;
  }

  .plugin-calendar-event-name {
    .form-group, .error-message {
      margin: 0;
    }
  }

  #plugin-calendar-event-editor-name {
    font-size: 135%;
  }

  .form-group .error-message {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease;
  }

  .form-group.has-error .error-message {
    max-height: 1.5em;
  }

  .plugin-calendar-event-reminders > ul {
    margin: 0;
  }

  .plugin-calendar-event-editor-dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .plugin-calendar-event-editor-reminder,
  #plugin-calendar-event-editor-reminders-add {
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
  }

  .checkbox {
    margin-top: 0;

    label {
      font-weight: bold;
      padding: 0;

      input[type=checkbox] {
        margin-right: 11px;
        float: left;
        margin-left: 0;
        position: initial;
        width: 15px;
        height: 15px;
      }
    }
  }

  .plugin-calendar-event-editor-reminder {
    > a.remove {
      float: right;

      i.fa-times {
        margin: 0;
      }
    }
  }

  textarea {
    margin: 0;
    max-width: 100%;
    min-width: 100%;
  }

  #plugin-calendar-event-editor-reminder-custom {
    margin: 0;
    text-align: center;

    > .form-group {
      text-align: left;
    }
    #plugin-calendar-event-editor-reminder-custom-unit {
      // margin-left: 30px;

      .btn-group {
        display: flex;

        .btn {
          flex-grow: 1;
        }
      }
    }
    .btn .fa {
      margin: 0;
    }
  }
}

.composer .preview .plugin-calendar-event .plugin-calendar-event-responses {
  display: none;
}
