@import url("/plugins/nodebb-plugin-calendar/public/css/toolbar.css");
@import url("/plugins/nodebb-plugin-calendar/public/css/cal.css");
@import url("/plugins/nodebb-plugin-calendar/public/css/sidebar.css");

#content > div.row:last-child {
  display: none;
}
body, html {
  height: 100%;
  overflow: hidden;
}
#content {
  height:100%;
}
#data_script {
  display:none;
}
body {
  padding-bottom: 5px;
}
